rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /versions/1 {
      function isAuthenticated() {
        return request.auth != null;
      }

      function isUserAuthenticated(userId) {
        return isAuthenticated() && userId == request.auth.uid;
      }

      match /chats/{userId}/{path=**} {
        allow read: if isUserAuthenticated(userId);
      }
      match /otomos/{userId} {
        allow read: if isUserAuthenticated(userId);
        allow write: if isUserAuthenticated(userId) &&
                    (request.resource.data.keys().hasOnly(
                      ['user_id', 'profile']));
      }
      match /users/{userId} {
        allow read, write: if isUserAuthenticated(userId);
      }
      match /policies_agreements/{userId} {
        allow read, write: if isUserAuthenticated(userId);
      }
    }
  }
}
