<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>764287781247-an3o1b7n6sk3ps7f67f82657hb53g65g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.764287781247-an3o1b7n6sk3ps7f67f82657hb53g65g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>764287781247-04jfo3485hq46egsobj35orn463v2lsq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDPfVlO8PZ3mXYmtEcGURM2KIbqOHp7YnI</string>
	<key>GCM_SENDER_ID</key>
	<string>764287781247</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nakar0.otomo.local</string>
	<key>PROJECT_ID</key>
	<string>otomo-dev-396006</string>
	<key>STORAGE_BUCKET</key>
	<string>otomo-dev-396006.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:764287781247:ios:ed3fe9e78264585738324a</string>
</dict>
</plist>