<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>764287781247-ua474l9t4mi9sspr33jpfq7hjmm3v6m8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.764287781247-ua474l9t4mi9sspr33jpfq7hjmm3v6m8</string>
	<key>API_KEY</key>
	<string>AIzaSyB4iZmAs6mj_th1qer5c8tkK1l9cD5QeEc</string>
	<key>GCM_SENDER_ID</key>
	<string>764287781247</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.otomo</string>
	<key>PROJECT_ID</key>
	<string>otomo-dev-396006</string>
	<key>STORAGE_BUCKET</key>
	<string>otomo-dev-396006.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:764287781247:ios:c9f23753f6657c3338324a</string>
</dict>
</plist>